<script type="text/javascript">
$(document).ready(function(){
		// player
		$('audio').each(function(){
			$(this).attr('src', $('.th-music img').first().data('music'));
		});

		var index = 0;
		$(document).on('click','.play-music', function(){
			index = $(this).data('index');
			$('td a').css('color', '#fff');
	  		$('.th-music img').attr('src','/assets/play-button.png');

			$(this).attr('src','/assets/pause-button.png');
			$(this).parent().parent().addClass('active-music').siblings().removeClass('active-music');
			$(this).removeClass('play-music').addClass('pause-music');
			var audio_src = $(this).attr('data-music');
			$('audio').each(function(){
				if($(this).attr('src') !== audio_src){
					$(this).attr('src', audio_src);
				}	
				this.player.getCurrentTime();
	     	this.player.play();
	  		});
		});

		//pause button
		$(document).on('click','.pause-music', function(){
		  	$('.th-music img').attr('src','/assets/play-button.png');
			$(this).attr('src','/assets/play-button.png');
			$(this).removeClass('pause-music').addClass('play-music');
			var audio_src = $(this).attr('data-music');
			$('audio').each(function(){
		     	this.player.pause();
		  	});
		});

		//play option 2
		$(document).on('click', '.mejs__play button', function(){
			$('.th-music img').eq(index).attr('src','/assets/pause-button.png');
			$('.th-music img').eq(index).parent().parent().addClass('active-music').siblings().removeClass('active-music');
			
		});

		$(document).on('click', '.mejs__pause button', function(){
			$('.th-music img').eq(index).attr('src','/assets/play-button.png');	
		});

		$('#mejs').on('ended', function(){
			if(location.href.indexOf('playlists') !== -1){
				$('.th-music img').eq(index).attr('src','/assets/play-button.png');
				index = (index + 1) % $('.th-music img').length;
				$('.th-music img').eq(index).attr('src','/assets/pause-button.png');
				var url = $('.th-music img').eq(index).data('music');
				$('audio').each(function(){
				if($(this).attr('src') !== url){
					$(this).attr('src', url);
				}
			    this.player.play();
			});
			$('.th-music img').eq(index).parent().parent().addClass('active-music').siblings().removeClass('active-music');
			}
			else{
				$('.th-music img').eq(index).attr('src','/assets/play-button.png');
			}
		});


		// navigation
		if(localStorage.getItem('hide') === 'true'){
			menuToggle();
		}

		$('.menu-profil').click(function(){
			if(localStorage.getItem('hide') == 'true')
				localStorage.setItem('hide', false);
			else
				localStorage.setItem('hide', true);
			menuToggle();
		});

		var contentTable = $('.active-list').attr('data-content');

		$('.nav-profil li').click(function(){
			$('.nav-profil li').removeClass('active-list');
			var contentTable = $(this).attr('data-content');
			$('.table-profil').hide();

			$(this).addClass('active-list');
			$('.'+contentTable).css('display','inline-table');
		});

		$('.content-page').perfectScrollbar(); 
		$('.profil-side').perfectScrollbar(); 
		$('.sidebar').perfectScrollbar();
		$('.bloc-bottom').perfectScrollbar();

		if(localStorage.getItem('rightSidebarView') !== 'parcourir'){
			$('.my-profil-sidebar').css('display','block');
			$('.list-all-profil').css('display','none');
			$('.bloc-bottom').scrollTop(0);
			$('.bloc-bottom').perfectScrollbar('update');

			$('.parcourir-sidebar').removeClass('active-li-sidebar');
			$('.profil-sidebar').addClass('active-li-sidebar');
		} else {
			$('.my-profil-sidebar').css('display','none');
			$('.list-all-profil').css('display','block');

			$('.parcourir-sidebar').addClass('active-li-sidebar');
			$('.profil-sidebar').removeClass('active-li-sidebar');
		}
		
		
		$(document).on('click', '.parcourir-sidebar', function(){
			localStorage.setItem('rightSidebarView', 'parcourir');
			$('.my-profil-sidebar').css('display','none');
			$('.list-all-profil').css('display','block');

			$('.parcourir-sidebar').addClass('active-li-sidebar');
			$('.profil-sidebar').removeClass('active-li-sidebar');
		});

		$(document).on('click', '.profil-sidebar', function(){
			localStorage.setItem('rightSidebarView', 'mon-profil');
			$('.my-profil-sidebar').css('display','block');
			$('.list-all-profil').css('display','none');
			$('.bloc-bottom').scrollTop(0);
			$('.bloc-bottom').perfectScrollbar('update');

			$('.parcourir-sidebar').removeClass('active-li-sidebar');
			$('.profil-sidebar').addClass('active-li-sidebar');
		});


		$('.bloc-pop span').click(function(){
			$(this).css('outline','none');
			$('.popover').toggleClass('active-pop');
		});
		

});

function menuToggle(){
	$('.profil-side').toggle();
	$('.content-page').toggleClass('clicked');
	$('.nav-profil').toggleClass('clicked');
	$('.close-img').toggleClass('clicked');
	$('.show-img').toggleClass('clicked');
}
</script>

<script type="text/javascript">

var song_id;

$("a[data-song]").click(function(){
	song_id = $(this).data('song');
	$('#add_song input[type=submit]').prop('disabled', false)
});

$('#add_song').submit(function(e){
    e.preventDefault();
    $.post('/playlists/add_song',
    {
      song_id: song_id,
      playlist_id: $('#playlist_id').val()
    },
    function(data){
		$('.modal-backdrop.fade.in').hide();
        $('#exampleModalLong').hide();
        $('body').prepend($(
			`<div class="alert alert-info alert-dismissable">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<strong>${data}</strong>
			</div>`));
    });
  });


$('a.favorite').click(function(e){
    e.preventDefault();
    var song_id = $(this).data('song');
    var that = this;
    $.get(`/songs/favorite/${song_id}`, function(data){
		var img = $(that).children().first();
		if(img.attr('src').indexOf('red') !== -1)
			img.attr('src', '/assets/like.png');
		else
			img.attr('src', '/assets/like_red.png');
    });
  });
</script>