@font-face {
  font-family: "BigFont";
  src: url("../fonts/WorkSans-ExtraBold.ttf");
}

$backgroundColor : #161616;

* {
  margin: 0;
  padding: 0;
  /*clear: both;*/
}

body, html {
  /*overflow-x: hidden;*/
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
  color: #ebebeb;
  background-color: $backgroundColor;
}

.container-global{
  padding: 0px;
}

.index-th{
  width: 50px;
}

.favoris-th{
  width: 50px;
}

.info-user-pop{
  top: 64%;
  left: 50%;
  transform: translateX(-50%);
  color: rgb(25, 25, 25);
  border-radius: 0px;
  padding: 20px;
  background-color: #fff;
}

.active-pop{
  display: block;
  
}